<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE city</title>
    <link rel="stylesheet" href="../static/css/login_user.css">
    
</head>
<body>
    <div class="formar">
        <form action="">
            <div class="imagen">
                <img src="../../static/imagens/safe_city.jpeg" alt="">
                <h1 class="SAFE">SAFE</h1><h3 class="city">CITY</h3>
                
            </div>
            <div class="caixa-entrada">
                
                <input type="text" placeholder="Nome de usuário" required>
                
            </div>
            <div class="caixa-entrada">
                <input type="password" placeholder="Senha" required>
                

            </div>

            <div class="lembrar-de-mim">
                <label><input type="checkbox">lembrar de mim</label>
                <a href="#">Esqueci minha senha</a>            
            </div>

            <button type="submit" class="bt">Login</button>

            <div class="registrar-link">
                <a href="#">Registrar minha conta</a>
            </div>

        </form>
        
    </div>
</body>
</html>
